#landing-container {
  width: 800px;
  height: auto;
  border: 2px solid lightgrey;
  padding: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 4px 10px #888888;
  background-color: #ffffff;
}
body {
  background-color: #f4f5f7;
}
header h1,
footer {
  text-align: center;
}
footer {
  font-style: italic;
  font-weight: bold;
}
.solutions-container {
  height: 30px;
  margin: 50px 0;
  position: relative;
  left: 50%;
  display: inline-block;
  transform: translateX(-50%);
}
.solution {
  display: inline-block;
  cursor: pointer;
  background: #0065ff;
  color: #ffffff;
  height: 50px;
  line-height: 20px;
  border: none !important;
  padding: 5px 20px;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}
.solution:last-child {
  margin-right: 0;
}
