header {
    margin-top: 20px
}
#retro-list-container{
    margin-top: 28px;
}
#retro-list-container h3{
    color: #0747a6;
    font-weight: bold;
}
.retro-list{
    display: table;
    width:100%;
    margin-bottom: 56px;
    background-color: #f4f5f7;
    padding-bottom: 15px;
}
#track-progress{
    margin-top:20px;
}
#improvement-tracker{
margin-top:20px;
}
.accomplishment-tracker,.improvement-tracker{
    width:50%;
    float: left;
}
.accomplishment-tracker{
    padding-left:10px;
}
.improvement-tracker{
    padding-right:10px
}
.star-score{
    left: calc(50% - 37px);
}
.accomplishment-tracker input[type=checkbox] {
    display:none;
}

.accomplishment-tracker input[type=checkbox] + span {
    display:inline-block;
    width: 100%;
    padding-left: 32px;
}
.accomplishment-tracker input[type=checkbox]:checked,
.accomplishment-tracker input[type=checkbox]:checked + span {
    background: url(../../../assets/images/checked.png) no-repeat;
} 

.accomplishment-tracker .tracking-item {
    padding: 6px 0
}