#retro-list-container{
    margin-top: 20px;
}
#retro-list-container h3{
    color: #0747a6;
    font-weight: bold;
}
.retro-list{
    display: table;
    width:100%;
    border: 2px solid #000;
    margin-top:5px;
    padding:10px;
}
#track-progress{
    margin-top:20px;
}
#improvement-tracker{
margin-top:20px;
}
.accomplishment-tracker,.improvement-tracker{
    width:50%;
    float: left;
}
.accomplishment-tracker{
    padding-left:10px;
}
.improvement-tracker{
    padding-right:10px
}