.retro-item-container{
min-height: 60px;
float: left;
width: 100%;
margin-top:5px;
}
.retro-item-container:first-child{
    margin-top: 0;
}
.retro-item-container input{
    width:100%;
    min-height: 40px;
    border:none;
}
.retro-item-container input:focus{
    outline:none;
}
.retro-content{
    color: #FFFFFF;
    word-wrap: break-word;
    min-height: 40px;
    padding: 5px;
}
.retro-item{
    float: right;
    margin-left:5px;
    color: #FFFFFF;
    cursor: pointer;
}
.retro-item-actions{
    height: 20px;
    padding: 0 5px 5px;
    user-select: none;
}