.scroll-list{
    min-height: 100px;
    max-height:150px;
    overflow-x: hidden;
    overflow-y: auto;
    word-wrap: break-word;
}
.tracker-list{
    padding:20px 26px;
    overflow: hidden;
    background-color: #f4f5f7;
}
.tracker-head{
    font-weight: bold;
    color: #0747a6;
}
.tracking-item{
    line-height: 20px;
    padding: 5px 0;
}
input[type=checkbox] {
    margin: 4px 12px 0 0;
}
.completiontime {
    font-style: italic;
    padding-left: 20px;
    font-size: 12px;
}
/* .accomplishment-tracker input[type=checkbox]{
    background: url(checked.png) no-repeat;
} */