.row-head-item,
.row-item {
  display: table-cell;
  padding: 10px;
  text-align: center;
}
.row-item{
  background: #f4f5f7;
}
.table-row,
.table-row-head {
  display: table-row;
}
.table-row-head {
  font-weight: bold;
  background: rgba(9,30,66,.08) !important;
}
.text-link {
  cursor: pointer;
  color: #0747a6;
}
#row-rating{
  text-align: left;
}
